let mapleader=" "

set scrolloff=7N
set visualbell
set surround
set commentary

sethandler n:vim i:ide

map <F2> <Action>(Refactorings.QuickListPopupAction)
map <F3> <Action>(ShowIntentionActions)
map <leader>ff <Action>(GotoFile)
map <leader>fg <Action>(TextSearchAction)
map <leader>fs <Action>(GotoSymbol)
map <leader>fu <Action>(FindUsages)
map gi m'<Action>(ReSharperGotoImplementation)
map gd m'<Action>(GotoDeclaration)
map - m'<Action>(SelectInProjectView)

map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)

map <C-]> <Action>(GotoNextError)
map <C-[> <Action>(GotoPreviousError)

map <leader>y "+y
map <leader>Y "+Y

map <F4> <Action>(ShowIntentionActions)
map <F2> <Action>(RenameElement)

map K <Action>(ShowHoverInfo)

vmap <S-Down> <Action>(MoveLineDown)
vmap <S-Up> <Action>(MoveLineUp)
vmap <S-Left>  <gv
vmap <S-Right> >gv